@model IEnumerable<WebsiteQuanLyLamViecNhom.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                    <h5>Danh sách sinh viên</h5>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="dropdown status-dropdown mr-3">
                            <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown" aria-expanded="false">
                                <div class="btn bg-body"><span class="h6">Khóa học 2020</span><i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03" style="">
                                <a class="dropdown-item" href="#">Khóa học 2020</a>
                                <a class="dropdown-item" href="#">Khóa học 2021</a>
                                <a class="dropdown-item" href="#">Khóa học 2022</a>
                                <a class="dropdown-item" href="#">Khóa học 2023</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped" style="width:99%">
                        <thead>
                            <tr class="ligth">
                                <th>Mã số sinh viên</th>
                                <th>Họ và Tên</th>
                                <th>Email</th>
                                <th>Ngày sinh</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DOB)
                                </td>
                                <td>
                                    <form asp-action="StudentLock" asp-route-id="@item.StudentId">
                                        <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                            <div class="custom-switch-inner">
                                                @Html.CheckBox("isLocked", item.IsLocked, new { @class = "custom-control-input", @id = item.StudentId, @onchange = "submitForm(this)" })
                                                <label class="custom-control-label" for="@Html.DisplayFor(modelItem => item.StudentId)" data-on-label="On" data-off-label="Off"></label>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm(checkbox) {
        checkbox.closest("form").submit();
    }
</script>