@model WebsiteQuanLyLamViecNhom.HelperClasses.TempModels.CreateClassDTO
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                    <h5>Danh sách lớp</h5>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                       <div class="dropdown status-dropdown mr-3">
                            <div class="form-group mb-0">
                                <select class="form-control" id="semesterDropdown" style="height:40px">
                                    <option selected="selected" value="">Học kỳ</option>
                                    <option value="1A">Học kỳ 1A</option>
                                    <option value="1B">Học kỳ 1B</option>
                                    <option value="2A">Học kỳ 2A</option>
                                    <option value="2B">Học kỳ 2B</option>
                                    <option value="3">Học kỳ 3</option>
                                </select>
                            </div>
                        </div>
                       <div class="dropdown status-dropdown mr-3">
                            <div class="form-group mb-0">
                                <select class="form-control" id="yearDropdown" style="height:40px">
                                    <option selected="selected" value="">Năm học </option>
                                    @{
                                        // Tạo một Set để theo dõi các giá trị đã thêm vào spinner
                                        var addedYears = new HashSet<string>();
                
                                        foreach (var item in Model.ClassListDTO)
                                        {
                                            // Kiểm tra xem giá trị đã được thêm vào spinner chưa
                                            if (addedYears.Add($"{item.Year} - {item.Year + 1}"))
                                            {
                                                // Nếu chưa, thêm giá trị vào spinner
                                                <option value="@($"{item.Year} - {item.Year + 1}")">Năm học @($"{item.Year} - {item.Year + 1}")</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="iq-search-bar device-search" style="padding-right: 15px;">
                            <form action="#" class="searchbox">
                                <p class="search-link"><i class="ri-search-line"></i></p>
                                <input type="text" class="text search-input" placeholder="Tìm kiếm">
                            </form>
                        </div>
                        <div class="pl-3 btn-new border-left">
                            <a href="#" class="btn btn-primary" data-target="#new-class-modal" data-toggle="modal"><i class="ri-file-upload-line"></i>Tạo lớp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="classContainer">
    <div class="col-lg-12">
        <div class="card-transparent mb-0 desk-info">
            <div class="card-body p-0">
                <div class="row">
                    @foreach (var item in Model.ClassListDTO)
                    {
                        <div class="col-lg-4 class-card">
                            <div class="card" data-id="my-card">
                                <div class="card-body">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content" style="max-width:350px;">
                                        <h5 style="font-size: 24px" class="mb-3">
                                            (@item.Code) @item.SubjectName
                                        </h5>
                                        <a hidden data-semester="@item.Semester">
                                            @item.Semester
                                        </a>
                                        <a hidden data-year="@($"{item.Year} - {item.Year + 1}")">
                                            @($"{item.Year} - {item.Year + 1}")
                                        </a>

                                    </div>
                                    <button type="button" class="btn btn-success mb-3" href="#" data-target="#class-setting-modal" data-toggle="modal" style="margin-left: 370px;margin-top: -140px">
                                        <i class="ri-settings-4-fill pr-0"></i>
                                    </button>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="iq-media-group">
                                            <a href="#" class="iq-media">
                                                @if (item.Teacher.ImgId != null)
                                                {
                                                    <img style="margin-top:-30px;width: 100px;height: 100px" src="https://lh3.google.com/d/@item.Teacher.ImgId=w250-h238-p-k-rw-v1-nu-iv1" class="img-fluid avatar-40 rounded-circle" alt=""
                                                         data-trigger="hover" data-toggle="popover" data-content="@item.Teacher" />
                                                }
                                                else
                                                {
                                                    <img style="margin-top:-30px;width: 100px; height: 100px" src="../assets/images/user/1.png" class="img-fluid avatar-40 rounded-circle" alt=""
                                                         data-trigger="hover" data-toggle="popover" data-content="@item.Teacher" />
                                                }
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Teacher/@item.Code" class="mb-3" style="padding-top: 10px;">
                                        <button type="button" class="btn btn-primary btn-block">
                                            Truy cập
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" style="margin-left: 675px;">
        <button type="button" class="btn btn-primary" id="viewMoreBtn">Xem thêm</button>
    </div>
</div>
<div id="list" class="item-content animate__animated animate__fadeIn" data-toggle-extra="tab-content">
    <div class="table-responsive rounded bg-white mb-4">
        <table class="table mb-0 table-borderless tbl-server-info tble-min-width">
            <tbody>
                <tr>
                    <td>Hotel Management App UI Kit</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>General Improvement</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-info-light">
                            <span class="bg-info iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-info-light">Testing</a>
                    </td>
                </tr>
                <tr>
                    <td>Product list view changes</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-success-light">
                            <span class="bg-success iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-success-light">SEO</a>
                    </td>
                </tr>
                <tr>
                    <td>Add Multiple theme options</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Product list view changes</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-success-light">
                            <span class="bg-success iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-success-light">SEO</a>
                    </td>
                </tr>
                <tr>
                    <td>Admin Panel Customization</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Sidebar in dashboard plans</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Login screen updated in mobile</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Helpdesk in dashboard plans</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-info-light">
                            <span class="bg-info iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-info-light">Testing</a>
                    </td>
                </tr>
                <tr>
                    <td>Marketplace Admin Dashboard</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Multipurpose theme and design</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Minimal Design of IOT project</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-warning-light">
                            <span class="bg-warning iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-warning-light">Development</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal list start -->
<div class="modal fade" role="dialog" aria-modal="true" id="class-setting-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="exampleModalCenterTitle01">Cài đặt lớp</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2" class="h5">Cách phân nhóm *</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>GV phân</option>
                                <option>SV đăng ký</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText02" class="h5">Cách giao đề tài *</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>GV giao</option>
                                <option>SV đăng ký</option>
                                <option>GV đưa đề tài SV chọn</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText004" class="h5">Ngày mở lớp*</label>
                            <input type="date" class="form-control" id="exampleInputText004" value="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText004" class="h5">Ngày khoá lớp</label>
                            <input type="date" class="form-control" id="exampleInputText004" value="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <label for="exampleInputText07" class="h5">Ghi chú</label>
                            <input type="text" class="form-control" id="exampleInputText07">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                            <div class="btn btn-primary mr-3" data-dismiss="modal">Lưu</div>
                            <div class="btn btn-primary" data-dismiss="modal">Thoát</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" aria-modal="true" id="new-class-modal">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content"> 
            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="exampleModalCenterTitle01">Tạo Lớp mới</h3>
            </div>
            <form asp-action="CreateClass" id="create-class-form">
                <div class="modal-body">
                <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-0">
                                        <label for="exampleInputText01" class="h5">Attachments</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="excelFile" accept=".xlsx, .xls">
                                            <label class="custom-file-label" for="inputGroupFile003">Upload media</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText01" class="h5">Môn học *</label>
                                        <input asp-for="classDTO.SubjectName" type="text" class="form-control" id="exampleInputText01" placeholder="Tên môn học">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText02" class="h5">Mã lớp *</label>
                                        <input asp-for="classDTO.Code" type="text" class="form-control" id="exampleInputText02" placeholder="Mã lớp">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText2" class="h5">Cách phân nhóm </label>
                                        <select asp-for="classDTO.RoleGroup" asp-items="Html.GetEnumSelectList<RoleGroup>()" name="type" class="selectpicker form-control" data-style="py-0">
                                            <option selected="selected" value="">Please select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText2" class="h5">Cách giao đề tài </label>
                                        <select asp-for="classDTO.RoleProject" asp-items="Html.GetEnumSelectList<RoleProject>()" name="type" class="selectpicker form-control" data-style="py-0">
                                            <option selected="selected" value="">Please select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText004" class="h5">Ngày mở lớp*</label>
                                        <input asp-for="classDTO.OpenDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" id="exampleInputText0004" value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText03" class="h5">Mã môn học *</label>
                                        <input asp-for="classDTO.SubjectId" type="text" class="form-control" id="exampleInputText03" placeholder="Mã môn học">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText04" class="h5">Năm học *</label>
                                        <input asp-for="classDTO.Year" type="text" class="form-control" id="exampleInputText04" placeholder="Năm học">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText05" class="h5">Học kỳ *</label>
                                        <input asp-for="classDTO.Semester" type="text" class="form-control" id="exampleInputText05" placeholder="Học kỳ">
                                    </div>
                                </div> 
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText07" class="h5">Ghi chú</label>
                                        <input asp-for="classDTO.ProjectRequirements" type="text" class="form-control" id="exampleInputText07">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                        <input type="submit" value="Tạo Lớp" class="btn btn-primary mr-3" />
                                        <div class="btn btn-primary" data-dismiss="modal">Thoát</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Student List start-->
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="card-body mt-4" style="padding: 5px; overflow: hidden;">
                                    <div class="table-responsive" style="overflow-x:hidden;max-height:600px;">
                                        <table id="user-list-table" class="table table-striped dataTable" role="grid" aria-describedby="user-list-page-info">
                                            <thead>
                                                <tr class="ligth">
                                                    <th>STT</th>
                                                    <th>Mã SV</th>
                                                    <th>Họ</th>
                                                    <th>Tên</th>
                                                    <th>Ngày sinh</th>
                                                </tr>
                                            </thead>
                                            <tbody style="height:150px; overflow-y: scroll ">
                                                <!-- Dữ liệu bảng -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Student List end-->
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal list end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Import class script start -->
<script>
    document.getElementById('excelFile').addEventListener('change', function (e) {
        var file = e.target.files[0];
        if (!file) return;

        var reader = new FileReader();
        reader.onload = function (e) {
            var data = e.target.result;
            var workbook = XLSX.read(data, { type: 'binary' });
            // Cập nhật thời gian thực vào trường Ngày khoá lớp
            var currentDate = new Date();
            var formattedDate = currentDate.toISOString().split('T')[0];
            document.getElementById('exampleInputText0004').value = formattedDate;

            // Xử lý mã lớp và môn học
            handleClassCodeAndSubject(workbook);
            // Xử lý thông tin sinh viên và bảng
            handleStudentInfoTable(workbook);
            // Xử lý thông tin học kỳ, năm học, và mã môn học
            handleSemesterAndSubjectInfo(workbook);
        };

        reader.readAsBinaryString(file);
    });

    function updateSTT() {
        var table = document.getElementById('user-list-table');
        var rows = table.rows;
        for (var i = 1; i < rows.length; i++) {
            rows[i].cells[0].innerText = i;
        }
    }

    function handleStudentInfoTable(workbook) {
        var sheet = workbook.Sheets[workbook.SheetNames[0]];

        // Clear existing data in the table
        var table = document.getElementById('user-list-table');
        var tbody = table.getElementsByTagName('tbody')[0];
        tbody.innerHTML = '';

        var startRow = 10; // Bắt đầu đọc từ dòng 10

        while (sheet["C" + startRow] && sheet["C" + startRow].v !== undefined) {
            // Extract student data based on your model properties
            var studentCode = sheet["B" + startRow].v || '';
            var studentLastName = sheet["C" + startRow].v || '';
            var studentFirstName = sheet["D" + startRow].v || '';
            const dob = sheet["E" + startRow]?.v ?? '';

            if (studentCode !== undefined && studentCode !== '') {
                var newRow = tbody.insertRow();
                var rowIndex = newRow.rowIndex;
                // Create an empty slot for numbering later on
                var indexcell = newRow.insertCell();
                indexcell.innerHTML = '';
                indexcell.setAttribute("style", "max-width: 90px;");

                for (const prop of ["StudentCode", "StudentLastName", "StudentFirstName"]) {
                    // Create an input element for the current property
                    const input = document.createElement("input");
                    input.setAttribute("type", "text");
                    input.setAttribute("name", `classDTO.Students[${rowIndex - 1}].${prop}`);
                    input.setAttribute("style", "border: none;background: none;max-width: 90px;");

                    switch (prop) {
                        case "StudentCode":
                            input.value = studentCode;
                            break;
                        case "StudentLastName":
                            input.value = studentLastName;
                            break;
                        case "StudentFirstName":
                            input.value = studentFirstName;
                            input.setAttribute("style", "border: none;background: none;max-width: 60px;");
                            break;
                    }

                    // Create and style a new cell for the input
                    const newCell = newRow.insertCell();
                    newCell.appendChild(input);
                }

                var dobInput = document.createElement("input");
                dobInput.setAttribute("type", "date"); // Adjust type based on desired format
                dobInput.setAttribute("name", `classDTO.Students[${rowIndex - 1}].DOB`);
                dobInput.setAttribute("style", "all: unset");

                if (dob) {
                    const dateParts = dob.split("/");
                    const formattedDob = `${dateParts[1]}/${dateParts[0] - 2 + 3}/${dateParts[2]}`; // mm/dd/yyyy

                    const dobDate = new Date(formattedDob);
                    dobInput.valueAsNumber = dobDate.getTime();
                } else {
                    const currentDate = new Date();
                    const year = currentDate.getFullYear();
                    const month = (currentDate.getMonth() + 1).toString().padStart(2, "0");
                    const day = currentDate.getDate().toString().padStart(2, "0");
                    const formattedDob = `${month}/${day}/${year}`;
                    dobInput.valueAsNumber = currentDate.getTime();
                }

                newCell = newRow.insertCell();
                newCell.appendChild(dobInput);

            }

            startRow++;
        }

        updateSTT();
    }

    function handleClassCodeAndSubject(workbook) {
        // Lấy dữ liệu từ các ô cần thiết
        var semesterCell = workbook.Sheets[workbook.SheetNames[0]]['F4'];
        var subjectCell = workbook.Sheets[workbook.SheetNames[0]]['C5'];
        var groupCell = workbook.Sheets[workbook.SheetNames[0]]['J5'];

        // Tạo mã lớp
        var yearMatch = semesterCell.v.match(/\d{4}/);
        var year = yearMatch ? yearMatch[0].slice(-2) : ''; // Lấy hai chữ số cuối cùng của năm hiện tại
        var semester = semesterCell ? semesterCell.v.match(/\d+/)[0] : '';
        var subjectCode = subjectCell ? subjectCell.v.match(/\(([^)]+)\)/)[1] : '';
        var groupCode = groupCell ? groupCell.v : '';
        var classCode = year + semester + '.' + subjectCode + '.' + groupCode;

        // Đặt giá trị vào ô mã lớp
        document.getElementById('exampleInputText02').value = classCode;

        // Lấy giá trị từ ô C5 để đặt vào ô môn học
        var cellValue = workbook.Sheets[workbook.SheetNames[0]]['C5'].v;
        cellValue = cellValue.slice(0, cellValue.indexOf('('));
        // Đặt giá trị vào ô môn học
        document.getElementById('exampleInputText01').value = cellValue;
    }

    function handleSemesterAndSubjectInfo(workbook) {
        // Lấy dữ liệu từ ô F4
        var semesterInfoCell = workbook.Sheets[workbook.SheetNames[0]]['F4'];
        var semesterInfo = semesterInfoCell ? semesterInfoCell.v : '';

        // Lấy dữ liệu từ ô C5
        var subjectInfoCell = workbook.Sheets[workbook.SheetNames[0]]['C5'];
        var subjectInfo = subjectInfoCell ? subjectInfoCell.v : '';

        // Tách thông tin học kỳ và năm học
        var semesterYearMatch = semesterInfo.match(/Học kỳ (\d+[A-Z]) - Năm Học (\d+-\d+)/);
        var semester = semesterYearMatch ? semesterYearMatch[1] : '';
        var year = semesterYearMatch ? semesterYearMatch[2] : '';

        // Tách thông tin mã môn học
        var subjectCodeMatch = subjectInfo.match(/\(([^)]+)\)/);
        var subjectCode = subjectCodeMatch ? subjectCodeMatch[1] : '';

        // Đặt giá trị vào ô Năm học, Học kỳ và Mã môn học
        document.getElementById('exampleInputText04').value = year;
        document.getElementById('exampleInputText05').value = semester;
        document.getElementById('exampleInputText03').value = subjectCode;
    }
    //# sourceURL=ImportClass.js
</script>
<script>
    $(document).ready(function () {
        // Số lớp hiển thị mặc định
        var defaultClassCount = 6;

        // Biến để theo dõi trạng thái của nút
        var isShowingAllClasses = false;

        // Ẩn hoặc hiện nút Xem thêm dựa trên số lượng lớp
        function toggleViewMoreButton() {
            var totalClasses = $('.class-card').length;

            if (totalClasses > defaultClassCount) {
                $('#viewMoreBtn').show();
            } else {
                $('#viewMoreBtn').hide();
            }
        }

        // Ẩn các lớp thừa đi
        hideExtraClasses();

        // Xử lý khi nhấn vào nút Xem thêm hoặc Ẩn bớt
        $('#viewMoreBtn').on('click', function () {
            toggleExtraClasses();
        });

        // Hàm ẩn các lớp thừa đi
        function hideExtraClasses() {
            $('.class-card:gt(' + (defaultClassCount - 1) + ')').hide();
            toggleViewMoreButton();
        }

        // Hàm hiện hoặc ẩn các lớp thừa khi nhấn nút Xem thêm hoặc Ẩn bớt
        function toggleExtraClasses() {
            var extraClasses = $('.class-card:gt(' + (defaultClassCount - 1) + ')');
            extraClasses.slideToggle();

            // Cập nhật trạng thái của biến và văn bản nút
            isShowingAllClasses = !isShowingAllClasses;
            
            var buttonText = isShowingAllClasses ? 'Ẩn bớt' : 'Xem thêm';
            $('#viewMoreBtn').text(buttonText);
        }
    });
</script>

<script>
    $(document).ready(function () {
        // Xử lý sự kiện khi form được submit
        $('#create-class-form').submit(function (event) {
            // Kiểm tra các trường cần thiết
            var subjectName = $('#exampleInputText01');
            var code = $('#exampleInputText02');
            var openDate = $('#exampleInputText0004');
            var subjectId = $('#exampleInputText03');
            var year = $('#exampleInputText04');
            var semester = $('#exampleInputText05');

            // Kiểm tra xem các trường có bị trống không
            var isValid = true;

            if (!subjectName.val()) {
                subjectName.addClass('is-invalid');
                isValid = false;
            } else {
                subjectName.removeClass('is-invalid');
            }

            if (!code.val()) {
                code.addClass('is-invalid');
                isValid = false;
            } else {
                code.removeClass('is-invalid');
            }

            if (!openDate.val()) {
                openDate.addClass('is-invalid');
                isValid = false;
            } else {
                openDate.removeClass('is-invalid');
            }

            if (!subjectId.val()) {
                subjectId.addClass('is-invalid');
                isValid = false;
            } else {
                subjectId.removeClass('is-invalid');
            }

            if (!year.val()) {
                year.addClass('is-invalid');
                isValid = false;
            } else {
                year.removeClass('is-invalid');
            }

            if (!semester.val()) {
                semester.addClass('is-invalid');
                isValid = false;
            } else {
                semester.removeClass('is-invalid');
            }

            // Nếu không hợp lệ, ngăn chặn việc submit form và hiển thị thông báo
            if (!isValid) {
                event.preventDefault();
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Lấy thông báo từ TempData
        var errorMessage = '@TempData["ErrorMessage"]';
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';

        if (errorMessage) {
            // Hiển thị thông báo sử dụng thư viện sweetalert2 (hoặc thư viện khác tùy chọn)
            Swal.fire({
                icon: 'error',
                title: 'Lỗi',
                text: errorMessage,
            });
        }
    });
</script>
<script>
    const searchInput = document.querySelector('.search-input');
    const classContainer = document.getElementById('classContainer');
    const showMoreButton = document.getElementById('viewMoreBtn'); // Đặt id thực tế của nút "Xem thêm"

    // Biến để theo dõi trạng thái của nút
    let isShowingAllClasses = false;
        
    searchInput.addEventListener('input', function () {
        const searchTerm = this.value.toLowerCase();
        const classCards = classContainer.querySelectorAll('.class-card');
        let visibleCount = 0;

        classCards.forEach(card => {
            const cardTitle = card.querySelector('.breadcrumb-content h5').textContent.toLowerCase();
            if (cardTitle.includes(searchTerm)) {
                card.style.display = 'block';
                visibleCount++;
            } else {
                card.style.display = 'none';
            }
        });

        // Kiểm tra số lượng lớp học hiển thị sau khi tìm kiếm
        if (visibleCount > 6) {
            showMoreButton.style.display = 'block';

            // Kiểm tra xem văn bản tìm kiếm có bị xóa không
            if (searchTerm === '') {
                // Nếu bị xóa, tự động thực hiện chức năng "Xem thêm"
                handleViewMore();
            }
        } else {
            // Ẩn nút "Xem thêm" khi không có kết quả tìm kiếm
            showMoreButton.style.display = 'none';
        }
    });
    function handleViewMore() {
        // Cập nhật trạng thái của nút và thực hiện chức năng tương ứng
        isShowingAllClasses = !isShowingAllClasses;
        var buttonText = isShowingAllClasses ? 'Xem thêm' : 'Ẩn bớt';
        $('#viewMoreBtn').text(buttonText);

        // Thực hiện chức năng tương ứng với trạng thái mới
        if (isShowingAllClasses) {
            // Nếu đang hiển thị tất cả, ẩn các lớp thừa đi
            $('.class-card:gt(5)').hide();
        } else {
            // Nếu không hiển thị tất cả, hiện thêm lớp thừa
            $('.class-card:gt(5)').show();
        }
    }
</script>
<script type="text/javascript" src="/assets/js/customizer.js"></script>
<script>
    // Lắng nghe sự kiện thay đổi giá trị của spinner Học kỳ
    document.getElementById('semesterDropdown').addEventListener('change', function () {
        filterClasses();
    });

    // Lắng nghe sự kiện thay đổi giá trị của spinner Năm học
    document.getElementById('yearDropdown').addEventListener('change', function () {
        filterClasses();
    });

    // Hàm thực hiện lọc lớp học dựa trên giá trị của spinner Học kỳ
    function filterClasses() {
        var selectedSemester = document.getElementById('semesterDropdown').value;
        var selectedYear = document.getElementById('yearDropdown').value;

        // Lặp qua tất cả các thẻ lớp học
        document.querySelectorAll('.class-card').forEach(function (card) {
            var semester = card.querySelector('[data-semester]').getAttribute('data-semester');
            var year = card.querySelector('[data-year]').getAttribute('data-year');

            // Kiểm tra xem lớp có khớp với giá trị đã chọn hay không
            var isSemesterMatch = semester.toLowerCase().trim() === selectedSemester.toLowerCase().trim() || selectedSemester === '';
            var isYearMatch = year.toLowerCase().trim() === selectedYear.toLowerCase().trim() || selectedYear === '';

            // Ẩn/hiện lớp tùy thuộc vào việc có khớp hay không
            card.style.display = isSemesterMatch && isYearMatch ? 'block' : 'none';
        });

        // Lấy số lượng các lớp hiển thị dựa trên dữ liệu data-semester và data-year
        var visibleClassCount = document.querySelectorAll('.class-card[data-semester="' + selectedSemester + '"][data-year="' + selectedYear + '"]').length;

        // Ẩn/hiện nút Xem thêm dựa trên số lượng lớp hiển thị
        var viewMoreBtn = document.getElementById('viewMoreBtn');
        viewMoreBtn.style.display = visibleClassCount > 6 ? 'block' : 'none';
    }

    const breadcrumbData = '@Html.Raw(Json.Serialize(Model.crumbs))';
    generateBreadcrumbs(breadcrumbData);
    //# sourceURL=TeacherIndex.js

</script>

