@model WebsiteQuanLyLamViecNhom.HelperClasses.TempModels.CreateClassDTO
@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                    <h5>Danh sách lớp</h5>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div class="dropdown status-dropdown mr-3">
                            <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown" aria-expanded="false">
                                <div class="btn bg-body"><span class="h6">Học kỳ 1A</span><i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03" style="">
                                <a class="dropdown-item" href="#">Học kỳ 1A</a>
                                <a class="dropdown-item" href="#">Học kỳ 1B</a>
                                <a class="dropdown-item" href="#">Học kỳ 2A</a>
                                <a class="dropdown-item" href="#">Học kỳ 2B</a>
                                <a class="dropdown-item" href="#">Học kỳ 3</a>
                            </div>
                        </div>
                        <div class="dropdown status-dropdown mr-3">
                            <div class="dropdown-toggle" id="dropdownMenuButton03" data-toggle="dropdown" aria-expanded="false">
                                <div class="btn bg-body"><span class="h6">Năm học 2020-2021</span><i class="ri-arrow-down-s-line ml-2 mr-0"></i></div>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton03" style="">
                                <a class="dropdown-item" href="#">Năm học 2020-2021</a>
                                <a class="dropdown-item" href="#">Năm học 2021-2022</a>
                                <a class="dropdown-item" href="#">Năm học 2022-2023</a>
                                <a class="dropdown-item" href="#">Năm học 2023-2024</a>
                            </div>
                        </div>
                        <div class="iq-search-bar device-search" style="padding-right: 15px;">
                            <form action="#" class="searchbox">
                                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                                <input type="text" class="text search-input" placeholder="Search here...">
                            </form>
                        </div>
                        <div class="pl-3 btn-new border-left">
                            <a href="#" class="btn btn-primary" data-target="#new-class-modal" data-toggle="modal"><i class="ri-file-upload-line"></i>Import</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card-transparent mb-0 desk-info">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                                    <h5 style="font-size: 24px" class="mb-3">
                                        (231.ITE1459.B09) Đồ án
                                    </h5>
                                    <button type="button" class="btn btn-success mb-3" href="#" data-target="#class-setting-modal" data-toggle="modal">
                                        <i class="ri-settings-4-fill pr-0"></i>
                                    </button>
                                </div>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="/Teacher/TeacherClass" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card-transparent mb-0 desk-info">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 style="font-size: 24px" class="mb-3">
                                    (231.ITE1459.B09) Đồ án
                                </h5>

                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="iq-media-group">
                                        <a href="user-profile.html" class="iq-media">
                                            <img style="width: 100px; height: 100px" src="../assets/images/user/01.jpg" class="img-fluid avatar-40 rounded-circle" alt=""
                                                 data-trigger="hover" data-toggle="popover" data-content="Hoàng Văn Hiếu" />
                                        </a>
                                    </div>
                                </div>
                                <a href="StudentList" class="mb-3" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-primary btn-block">
                                        Get Access
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="list" class="item-content animate__animated animate__fadeIn" data-toggle-extra="tab-content">
    <div class="table-responsive rounded bg-white mb-4">
        <table class="table mb-0 table-borderless tbl-server-info tble-min-width">
            <tbody>
                <tr>
                    <td>Hotel Management App UI Kit</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>General Improvement</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-info-light">
                            <span class="bg-info iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-info-light">Testing</a>
                    </td>
                </tr>
                <tr>
                    <td>Product list view changes</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-success-light">
                            <span class="bg-success iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/05.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/06.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-success-light">SEO</a>
                    </td>
                </tr>
                <tr>
                    <td>Add Multiple theme options</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Product list view changes</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-success-light">
                            <span class="bg-success iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-success-light">SEO</a>
                    </td>
                </tr>
                <tr>
                    <td>Admin Panel Customization</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Sidebar in dashboard plans</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Login screen updated in mobile</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <a href="#" class="iq-media">
                            <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Helpdesk in dashboard plans</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-info-light">
                            <span class="bg-info iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-info-light">Testing</a>
                    </td>
                </tr>
                <tr>
                    <td>Marketplace Admin Dashboard</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-secondary-light">
                            <span class="bg-secondary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/07.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/08.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-secondary-light">Design</a>
                    </td>
                </tr>
                <tr>
                    <td>Multipurpose theme and design</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-primary-light">
                            <span class="bg-primary iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/03.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/04.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-primary-light">Content</a>
                    </td>
                </tr>
                <tr>
                    <td>Minimal Design of IOT project</td>
                    <td class="w-25">
                        <div class="iq-progress-bar bg-warning-light">
                            <span class="bg-warning iq-progress progress-1" data-percent="65" style="transition: width 2s ease 0s;"></span>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0"><i class="las la-calendar-check mr-2"></i>02 / 02 / 2021</p>
                    </td>
                    <td>
                        <div class="iq-media-group">
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/01.jpg" alt="">
                            </a>
                            <a href="#" class="iq-media">
                                <img class="img-fluid avatar-40 rounded-circle" src="../assets/images/user/02.jpg" alt="">
                            </a>
                        </div>
                    </td>
                    <td>
                        <a href="#" class="btn bg-warning-light">Development</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal list start -->
<div class="modal fade" role="dialog" aria-modal="true" id="class-setting-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="exampleModalCenterTitle01">Cài đặt lớp</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2" class="h5">Cách phân nhóm *</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>GV phân</option>
                                <option>SV đăng ký</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText2" class="h5">Cách giao đề tài *</label>
                            <select name="type" class="selectpicker form-control" data-style="py-0">
                                <option>GV giao</option>
                                <option>SV đăng ký</option>
                                <option>GV đưa đề tài SV chọn</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText004" class="h5">Ngày mở lớp*</label>
                            <input type="date" class="form-control" id="exampleInputText004" value="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label for="exampleInputText004" class="h5">Ngày khoá lớp</label>
                            <input type="date" class="form-control" id="exampleInputText004" value="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <label for="exampleInputText07" class="h5">Ghi chú</label>
                            <input type="text" class="form-control" id="exampleInputText07">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                            <div class="btn btn-primary mr-3" data-dismiss="modal">Lưu</div>
                            <div class="btn btn-primary" data-dismiss="modal">Thoát</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" aria-modal="true" id="new-class-modal">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content"> 
            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="exampleModalCenterTitle01">Tạo Lớp mới</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form asp-action="CreateClass">
                        <div class="col-lg-6">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-lg-12">
                                    <div class="form-group mb-0">
                                        <label for="exampleInputText01" class="h5">Attachments</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="excelFile" accept=".xlsx, .xls">
                                            <label class="custom-file-label" for="inputGroupFile003">Upload media</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText01" class="h5">Môn học *</label>
                                        <input asp-for="@Model.classDTO.SubjectName" type="text" class="form-control" id="exampleInputText01" placeholder="Tên môn học">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText02" class="h5">Mã lớp *</label>
                                        <input asp-for="@Model.classDTO.Code" type="text" class="form-control" id="exampleInputText02" placeholder="Mã lớp">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText2" class="h5">Cách phân nhóm *</label>
                                        <select asp-for="@Model.classDTO.RoleGroup" asp-items="Html.GetEnumSelectList<RoleGroup>()" name="type" class="selectpicker form-control" data-style="py-0">
                                            <option selected="selected" value="">Please select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText2" class="h5">Cách giao đề tài *</label>
                                        <select asp-for="@Model.classDTO.RoleProject" asp-items="Html.GetEnumSelectList<RoleProject>()" name="type" class="selectpicker form-control" data-style="py-0">
                                            <option selected="selected" value="">Please select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText004" class="h5">Ngày mở lớp*</label>
                                        <input asp-for="@Model.classDTO.OpenDate" type="date" class="form-control" id="exampleInputText004" value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText03" class="h5">Mã môn học *</label>
                                        <input asp-for="@Model.classDTO.SubjectId" type="text" class="form-control" id="exampleInputText03" placeholder="Mã môn học">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText04" class="h5">Năm học *</label>
                                        <input asp-for="@Model.classDTO.Year" type="text" class="form-control" id="exampleInputText04" placeholder="Năm học">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText05" class="h5">Học kỳ *</label>
                                        <input asp-for="@Model.classDTO.Semester" type="text" class="form-control" id="exampleInputText05" placeholder="Học kỳ">
                                    </div>
                                </div> 
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <label for="exampleInputText07" class="h5">Ghi chú</label>
                                        <input asp-for="@Model.classDTO.ProjectRequirements" type="text" class="form-control" id="exampleInputText07">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                                        <input type="submit" value="Tạo Lớp" class="btn btn-primary mr-3" />
                                        <div class="btn btn-primary" data-dismiss="modal">Thoát</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Student List start-->
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="card-body" style="padding: 5px; overflow: hidden;">
                                    <div class="table-responsive" style="overflow-x:hidden;max-height:600px;">
                                        <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid" aria-describedby="user-list-page-info">
                                            <thead>
                                                <tr class="ligth">
                                                    <th>STT</th>
                                                    <th>Mã SV</th>
                                                    <th>Họ</th>
                                                    <th>Tên</th>
                                                    <th>Ngày sinh</th>
                                                </tr>
                                            </thead>
                                            <tbody style="height:150px; overflow-y: scroll ">
@*                                              <tr>
                                                    <td>
                                                        0
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.classDTO.Students[i].StudentCode" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.classDTO.Students[i].StudentLastName" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.classDTO.Students[i].StudentFirstName" />
                                                    </td>
                                                    <td>
                                                        <input asp-for="@Model.classDTO.Students[i].DOB" />
                                                    </td>
                                                </tr> *@
                                                <!-- Dữ liệu bảng -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Student List end-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal list end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>

<!-- Import class script start -->
<script>
    document.getElementById('excelFile').addEventListener('change', function (e) {
        var file = e.target.files[0];
        if (!file) return;

        var reader = new FileReader();
        reader.onload = function (e) {
            var data = e.target.result;
            var workbook = XLSX.read(data, { type: 'binary' });

            // Xử lý mã lớp và môn học
            handleClassCodeAndSubject(workbook);

            // Xử lý thông tin sinh viên và bảng
            handleStudentInfoTable(workbook);
            // Xử lý thông tin học kỳ, năm học, và mã môn học
            handleSemesterAndSubjectInfo(workbook);
        };

        reader.readAsBinaryString(file);
    });
function updateSTT() {
    var table = document.getElementById('user-list-table');
    var rows = table.rows;

    for (var i = 1; i < rows.length; i++) {
        rows[i].cells[0].innerText = i;
    }
}

// function handleStudentInfoTable(workbook) {
//     var sheet = workbook.Sheets[workbook.SheetNames[0]];

//     // Clear existing data in the table
//     var table = document.getElementById('user-list-table');
//     var tbody = table.getElementsByTagName('tbody')[0];
//     tbody.innerHTML = '';

//     var headers = ["STT", "Mã SV", "Họ", "Tên", "Ngày sinh"];
//     var startRow = 10; // Bắt đầu đọc từ dòng 10

//     while (sheet["C" + startRow] && sheet["C" + startRow].v !== undefined) {
//         var rowData = [];
//         headers.forEach(function (header, index) {
//             var cell = sheet[String.fromCharCode(65 + index) + startRow];

//             if (cell && cell.v !== undefined) {
//                 var cellValue = '';

//                 if ((header === "Họ" || header === "Tên") && cell.s) {
//                     for (var i = cell.s.c; i <= cell.e.c; i++) {
//                         for (var j = cell.s.r; j <= cell.e.r; j++) {
//                             var cellRef = XLSX.utils.encode_cell({ c: i, r: j });
//                             cellValue += " " + (sheet[cellRef] ? sheet[cellRef].v : '');
//                         }
//                     }
//                     rowData.push(cellValue.trim());
//                 } else {
//                     rowData.push(cell.v || '');
//                 }
//             } else {
//                 rowData.push('');
//             }
//         });

//         var newRow = tbody.insertRow();
//         rowData.forEach(function (value, index) {
//             var cell = newRow.insertCell(index);
//             cell.innerHTML = value;
//         });

//         startRow++;
//     }

//     updateSTT();
// }
    function handleStudentInfoTable(workbook) {
        var sheet = workbook.Sheets[workbook.SheetNames[0]];

        // Clear existing data in the table
        var table = document.getElementById('user-list-table');
        var tbody = table.getElementsByTagName('tbody')[0];
        tbody.innerHTML = '';

        var startRow = 10; // Bắt đầu đọc từ dòng 10

        while (sheet["C" + startRow] && sheet["C" + startRow].v !== undefined) {
            // Extract student data based on your model properties
            var studentCode = sheet["B" + startRow].v || '';
            var studentLastName = sheet["C" + startRow].v || '';
            var studentFirstName = sheet["D" + startRow].v || '';
            var dob = sheet["E" + startRow].v; // Adjust based on cell format

            // Create and populate a new row
            var newRow = tbody.insertRow();
            var rowIndex = newRow.rowIndex;

            // Generate input elements for each student property
            var studentCodeInput = document.createElement("input");
            studentCodeInput.setAttribute("type", "text");
            studentCodeInput.setAttribute("name", `Students[${rowIndex}].StudentCode`); // Bind to model using index
            studentCodeInput.value = studentCode;
            newRow.insertCell().appendChild(studentCodeInput);

            var lastNameInput = document.createElement("input");
            lastNameInput.setAttribute("type", "text");
            lastNameInput.setAttribute("name", `Students[${rowIndex}].StudentLastName`);
            lastNameInput.value = studentLastName;
            newRow.insertCell().appendChild(lastNameInput);

            var firstNameInput = document.createElement("input");
            firstNameInput.setAttribute("type", "text");
            firstNameInput.setAttribute("name", `Students[${rowIndex}].StudentFirstName`);
            firstNameInput.value = studentFirstName;
            newRow.insertCell().appendChild(firstNameInput);

            // Add input for DOB if needed and adjust based on cell format
            if (dob) {
                var dobInput = document.createElement("input");
                dobInput.setAttribute("type", "date"); // Adjust type based on desired format
                dobInput.setAttribute("name", `Students[${rowIndex}].DOB`);
                dobInput.value = dob; // Handle date format conversion if necessary
                newRow.insertCell().appendChild(dobInput);
            }

            startRow++;
        }

        updateSTT();
    }


    function handleClassCodeAndSubject(workbook) {
        // Lấy dữ liệu từ các ô cần thiết
        var semesterCell = workbook.Sheets[workbook.SheetNames[0]]['F4'];
        var subjectCell = workbook.Sheets[workbook.SheetNames[0]]['C5'];
        var groupCell = workbook.Sheets[workbook.SheetNames[0]]['J5'];

        // Tạo mã lớp
        var year = new Date().getFullYear().toString().substr(-2); // Lấy hai chữ số cuối cùng của năm hiện tại
        var semester = semesterCell ? semesterCell.v.match(/\d+/)[0] : '';
        var subjectCode = subjectCell ? subjectCell.v.match(/\(([^)]+)\)/)[1] : '';
        var groupCode = groupCell ? groupCell.v : '';
        var classCode = year + semester + '.' + subjectCode + '.' + groupCode;

        // Đặt giá trị vào ô mã lớp
        document.getElementById('exampleInputText02').value = classCode;

        // Lấy giá trị từ ô C5 để đặt vào ô môn học
        var cellValue = workbook.Sheets[workbook.SheetNames[0]]['C5'].v;
        // Đặt giá trị vào ô môn học
        document.getElementById('exampleInputText01').value = cellValue;
    }
    function handleSemesterAndSubjectInfo(workbook) {
        // Lấy dữ liệu từ ô F4
        var semesterInfoCell = workbook.Sheets[workbook.SheetNames[0]]['F4'];
        var semesterInfo = semesterInfoCell ? semesterInfoCell.v : '';

        // Lấy dữ liệu từ ô C5
        var subjectInfoCell = workbook.Sheets[workbook.SheetNames[0]]['C5'];
        var subjectInfo = subjectInfoCell ? subjectInfoCell.v : '';

        // Tách thông tin học kỳ và năm học
        var semesterYearMatch = semesterInfo.match(/Học kỳ (\d+[A-Z]) - Năm Học (\d+-\d+)/);
        var semester = semesterYearMatch ? semesterYearMatch[1] : '';
        var year = semesterYearMatch ? semesterYearMatch[2] : '';

        // Tách thông tin mã môn học
        var subjectCodeMatch = subjectInfo.match(/\(([^)]+)\)/);
        var subjectCode = subjectCodeMatch ? subjectCodeMatch[1] : '';

        // Đặt giá trị vào ô Năm học, Học kỳ và Mã môn học
        document.getElementById('exampleInputText04').value = year;
        document.getElementById('exampleInputText05').value = semester;
        document.getElementById('exampleInputText03').value = subjectCode;
    }

</script>




