@model IEnumerable<WebsiteQuanLyLamViecNhom.Models.Teacher>

@{
    ViewData["Title"] = "Lecturer List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@* 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLocked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLocked)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeacherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeacherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeacherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Danh sách giảng viên</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                            <tr class="ligth">
                                <th>Mã số giảng viên</th>
                                <th>Hình ảnh</th>
                                <th>Họ và Tên</th>
                                <th>Email</th>
                                <th>Ngày sinh</th>
                                <th>Trạng thái</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeacherId)
                                    </td>
                                    <td><img class="avatar-70 rounded" src="../assets/images/user/1.png" alt="#" data-original-title="" title=""></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DOB)
                                    </td>
                                    <td>
@*                                         <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                            <div class="custom-switch-inner">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="">
                                                <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">
                                                </label>
                                            </div>
                                        </div> *@
                                        <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                            <div class="custom-switch-inner">
                                                @* <input type="checkbox" class="custom-control-input" id="customSwitch-11" checked="@Html.ValueFor(model => model.IsLocked)" asp-for="IsLocked" /> *@
                                                @Html.CheckBoxFor(modelItem => item.IsLocked, new { @class = "custom-control-input", @id = item.TeacherId })
                                               
                                                <label class="custom-control-label" for="@Html.DisplayFor(modelItem => item.TeacherId)" data-on-label="On" data-off-label="Off"></label>
@*                                                 <script type="text/javascript">
                                                    $(document).on("change", @Html.DisplayFor(modelItem => item.TeacherId), function () {
                                                        console.log("it ran");
                                                        $('form').submit();
                                                    });
                                                </script> *@
                                            </div>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="#"><i class="ri-delete-bin-line mr-0"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on("change", "input", function () {
        $('form').submit();
    });
</script>