@model WebsiteQuanLyLamViecNhom.Data.TeacherDynamicModels

@{
    ViewData["Title"] = "Lecturer List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Danh sách giảng viên</h4>
                </div>
                <div class="pl-3 border-left btn-new">
                    <a href="#" class="btn btn-primary" data-target="#new-teacher-modal" data-toggle="modal">Thêm giảng viên</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped" style="width:99%">
                        <thead>
                            <tr class="ligth">
                                <th>Mã số giảng viên</th>
                                <th>Hình ảnh</th>
                                <th>Họ và Tên</th>
                                <th>Email</th>
                                <th>Ngày sinh</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Teachers)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeacherId)
                                    </td>
                                    <td><img class="avatar-70 rounded" src="../assets/images/user/1.png" alt="#" data-original-title="" title=""></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DOB)
                                    </td>
                                    <td>
                                        <form asp-action="LecturerLock" asp-route-id="@item.TeacherId">
                                            <div class="custom-control custom-switch custom-switch-text custom-control-inline">
                                                <div class="custom-switch-inner">
                                                    @Html.CheckBox("isLocked", item.IsLocked, new { @class = "custom-control-input", @id = item.TeacherId, @onchange = "submitForm(this)" })
                                                    <label class="custom-control-label" for="@Html.DisplayFor(modelItem => item.TeacherId)" data-on-label="On" data-off-label="Off"></label>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Model dialog-->
<div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-teacher-modal">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="exampleModalCenterTitle02">New User</h3>
            </div>
            <div class="modal-body">
                <form asp-action="LecturerCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group mb-3 custom-file-small">
                            <label for="exampleInputText01" class="h5">Upload Profile Picture</label>
                            <div class="custom-file">
                                <input asp-for="@Model.Teacher.ImgPfp" type="file" class="custom-file-input" id="inputGroupFile02">
                                <span asp-validation-for="@Model.Teacher.FullName" class="text-danger"></span>
                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="h5">Họ và tên</label>
                            <input asp-for="@Model.Teacher.FullName" class="form-control" />
                            <span asp-validation-for="@Model.Teacher.FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="h5">Địa chỉ Email</label>
                            <input asp-for="@Model.Teacher.Email" class="form-control" />
                            <span asp-validation-for="@Model.Teacher.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="h5">Ngày sinh</label>
                            <input asp-for="@Model.Teacher.DOB" class="form-control" />
                            <span asp-validation-for="@Model.Teacher.DOB" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                            <label for="exampleInputText05" class="h5">Khoá GV*</label>
                            <div class="custom-control custom-switch custom-switch-text">
                                <div class="custom-switch-inner">
                                    @Html.CheckBoxFor(model => model.Teacher.IsLocked, new { @class = "custom-control-input", @style = "top: 9px", @id = "customSwitch-11" })
                                    <label class="custom-control-label" for="customSwitch-11" data-on-label="On" data-off-label="Off">

                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-ceter justify-content-center mt-2">
                            <input class="btn btn-primary mr-3" type="submit" value="Xác nhận" />
                            <div class="btn btn-primary" data-dismiss="modal">Thoát</div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End of Model dialog-->


<script>
    function submitForm(checkbox) {
        checkbox.closest("form").submit();
    }
</script>